:root {
  --main-color: #051527;
  --secondary-color: #b8e0e1;
  --third-color: #1683a0;
  --fourth-color: #2e1f37;
  --fifth-color: #0c3c42;

}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', -apple-system, 'Roboto', 'Helvetica Neue', sans-serif;
  background: var(--main-color);
  color: var(--secondary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
}